@import url('https://fonts.googleapis.com/css2?family=Open+Sans:display=swap');
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/header_back.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10%;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.main_nav {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.main_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    text-transform: uppercase;
}

.menu_link {
    color: black;
    font-weight: 400;
    transition: .5s;
}

.menu_link:hover {
    transition: .5s;
    color: #FF9700;
}

#language_select {
    outline: none;
    border: none;
    font-size: 16px;
    margin-top: -2px;
}

.welcome_text {
    position: relative;
    z-index: 3;
    color: white;
    margin-right: 50px;
}

.main_title {
    font-weight: 700;
}

.main_text {
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    margin-top: 20px;
}

.btn_primary {
    display: block;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #FF9700;
    padding: 25px 10px;
    border-radius: 5px;
    margin-top: 30px;
}

.social_links {
    margin: 0;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social_links::before {
    content: '';
    height: 150px;
    width: 2px;
    background-color: white;
}

.social_links::after {
    content: '';
    height: 150px;
    width: 2px;
    background-color: white;
    margin-top: 20px;
}

.social_item {
    margin-top: 20px;
    width: 35px;
    height: 35px;
}

.fb {
    background: url(../img/fb.svg) no-repeat center center;
    background-size: 100% 100%;
}

.fb:hover {
    background-image: url(../img/fb_hover.svg);
    transition: .5s;
}

.inst {
    background: url(../img/inst.svg) no-repeat center center;
    background-size: 100% 100%;
    transition: .5s;
}

.inst:hover {
    background-image: url(../img/inst_hover.svg);
    transition: .5s;
}

.linked {
    background: url(../img/linked.svg) no-repeat center center;
    background-size: 100% 100%;
    transition: .5s;
}

.linked:hover {
    background-image: url(../img/linked_hover.svg);
    transition: .5s;
}

.about_us {
    background-image: url(../img/about_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 5% 10%;
}

.about_title {
    color: #FF9700;
    font-size: 20px;
    font-weight: 600;
}

.title_big {
    font-size: 40px;
    text-transform: uppercase;
    color: #FF9700;
}

.about_title::after {
    content: '';
    width: 200px;
    margin-left: 50px;
    height: 2px;
    display: inline-block;
    background-color: #FF9700;
    vertical-align: middle;
    margin-bottom: 10px;
}

.about_text {
    color: white;
    width: 40%;
    font-size: 20px;
    margin-top: 15px;
}

.advantages_title {
    color: white;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700;
}

.advantages {
    width: 82%;
    background-color: #FF9700;
    margin-left: -15%;
    margin-top: 20px;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}

.advantages_list {
    margin-left: 10%;
}

.advantages_item {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.advantages_icon {
    width: 35px;
    height: 35px;
    background-color: white;
    display: inline-block;
    margin-right: 30px;
}

.ok::before {
    content: url(../img/icon_ok.svg);
    margin-left: 20%;
}

.box::before {
    content: url(../img/icon_box.svg);
    margin-left: 20%;
}

.marker::before {
    content: url(../img/icon_marker.svg);
    margin-left: 20%;
}

.watch::before {
    content: url(../img/icon_watch.svg);
    margin-left: 20%;
}

.more_btn {
    align-self: flex-end;
    color: black;
    font-size: 20px;
    margin-top: -20px;
    font-weight: 700;
}

@keyframes bounce {
    from {
        left: 0;
    }
    to {
        left: 20px;
    }
}

.more_btn::after {
    content: url(../img/icon_arrow.svg);
    margin-left: 15px;
    position: relative;
    animation-name: bounce;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.more_btn:hover::after {
    animation-play-state: paused;
}

.services {
    background: url(../img/uslugi_back.png) no-repeat center center;
    background-size: cover;
    padding: 5% 10%;
}

.services_title {
    color: white;
}

.services_title:before {
    content: '';
    height: 100px;
    width: 2px;
    background-color: #FF9700;
    display: inline-block;
    margin-right: 20px;
}

.services_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
}

.services_item {
    background-color: white;
    width: 30%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px;
    transition: .5s;
}

.services_item:hover {
    transform: scale(1.05);
    border: 5px solid #FF9700;
    transition: .5s;
}

.services_icon {
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, rgba(255, 151, 0, 0) 50%, rgba(255, 151, 0, 0.5) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.car::before {
    content: url(../img/delivery-truck.svg);
}

.instr::before {
    content: url(../img/hammer.svg);
}

.stock::before {
    content: url(../img/warehouse.svg);
}

.services_subtitle {
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    width: 75%;
}

.services_text {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    width: 90%;
}

.services_more {
    text-transform: uppercase;
    border-bottom: 2px solid #0E53A7;
    color: black;
    margin-top: 30px;
}

.digits {
    background-color: #FF9700;
    padding: 5% 10%;
    position: relative;
}

.digits::before {
    content: url(../img/decor.svg);
    position: absolute;
    right: 0;
}

.digits:after {
    content: url(../img/decor.svg);
    position: absolute;
    left: 0;
    transform: rotate(180deg);
}

.digits_title {
    color: white;
}

.digits_title>.title_big {
    color: white;
}

.digits_title:before {
    content: '';
    display: inline-block;
    width: 150px;
    height: 2px;
    background-color: #0E53A7;
    vertical-align: middle;
    margin-right: 25px;
}

.digits_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
}

.digits_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 25%;
}

.digit {
    font-size: 70px;
    font-weight: 800;
}

.digit_text {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
}

.partners {
    padding: 5% 10%;
    background: linear-gradient(to left, rgba(255, 151, 0, 0) 50%, rgba(14, 83, 167, 0.5) 50%);
}

.partners_title {
    color: #0E53A7;
    text-align: right;
}

.partners_title>.title_big {
    color: #0E53A7;
}

.partners_title .title_big:after {
    content: '';
    width: 150px;
    height: 2px;
    display: inline-block;
    background-color: #FF9700;
    vertical-align: middle;
    margin-left: 40px;
}