@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/header_back.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10%;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.truck_header {
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding: 7% 10%;
}

.tents {
    background-image: url(../img/tents_back.png);
}

.truck_title {
    font-size: 20px;
    color: white;
    position: relative;
    margin-bottom: 50px;
}

.truck_title span {
    font-size: 40px;
}

.truck_title::before {
    content: '';
    display: block;
    height: 80px;
    width: 4px;
    background-color: #FF9700;
    position: absolute;
    left: -15px;
}

.truck_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.truck_img {
    width: 45%;
    position: relative;
}

.truck_main {
    width: 100%;
    margin-top: 15%;
}

.truck_guy {
    position: absolute;
    height: 230px
}

.truck_guys1 {
    top: 0;
    right: -20%;
}

.truck_guys2 {
    bottom: -20px;
    left: 20%;
    height: 300px;
}

.truck_guys3 {
    bottom: -3%;
    right: -10%;
    height: 270px;
}

.truck_desc {
    width: 40%;
}

.truck_text {
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}

.main_nav {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.main_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    text-transform: uppercase;
}

.menu_link {
    color: black;
    font-weight: 400;
    transition: .5s;
}

.menu_link:hover {
    transition: .5s;
    color: #FF9700;
}

.dropdown {
    position: relative;
}

.dropdown_menu {
    position: absolute;
    left: -30px;
    background-color: white;
    padding: 20px;
    display: none;
    padding-top: 40px;
    transition: 1s;
}

.dropdown_link {
    margin-top: 20px;
    border-top: 2px solid gray;
    padding-top: 20px;
    line-height: 22px;
    letter-spacing: 1px;
}

.dropdown_link:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.dropdown:hover .dropdown_menu {
    display: block;
    transition: 1s;
}

#language_select {
    outline: none;
    border: none;
    font-size: 16px;
    margin-top: -2px;
}

.welcome_text {
    position: relative;
    z-index: 3;
    color: white;
    margin-right: 50px;
}

.main_title {
    font-weight: 700;
}

.main_text {
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    margin-top: 20px;
}

.btn_primary {
    display: block;
    width: 260px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #FF9700;
    padding: 20px 10px;
    border-radius: 5px;
    margin-top: 30px;
    transition: .5s;
}

.btn_primary:hover {
    box-shadow: 0 0 10px 5px white;
    transition: .5s;
}

.social_links {
    margin: 0;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social_links::before {
    content: '';
    height: 150px;
    width: 2px;
    background-color: white;
}

.social_links::after {
    content: '';
    height: 150px;
    width: 2px;
    background-color: white;
    margin-top: 20px;
}

.social_item {
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.fb {
    background: url(../img/fb.svg) no-repeat center center;
    background-size: 100% 100%;
    transition: .5s;
}

.fb_black {
    background: url(../img/fb_black.svg) no-repeat center center;
    background-size: 100% 100%;
}

.fb_black:hover {
    background: url(../img/fb.svg) no-repeat center center;
    background-size: 100% 100%;
}

.fb:hover {
    transform: scale(1.5);
    background-image: url(../img/fb_hover.svg);
    transition: .5s;
}

.inst_black {
    background: url(../img/inst_black.svg) no-repeat center center;
    background-size: 100% 100%;
}

.inst {
    background: url(../img/inst.svg) no-repeat center center;
    background-size: 100% 100%;
    transition: .5s;
}

.inst:hover {
    transform: scale(1.5);
    background-image: url(../img/inst_hover.svg);
    transition: .5s;
}

.inst_black:hover {
    background: url(../img/inst.svg) no-repeat center center;
    background-size: 100% 100%;
}

.linked {
    background: url(../img/linked.svg) no-repeat center center;
    background-size: 100% 100%;
    transition: .5s;
}

.linked_black {
    background: url(../img/linked_black.svg) no-repeat center center;
    background-size: 100% 100%;
}

.linked_black:hover {
    background: url(../img/linked.svg) no-repeat center center;
    background-size: 100% 100%;
}

.linked:hover {
    transform: scale(1.5);
    background-image: url(../img/linked_hover.svg);
    transition: .5s;
}

.about_us {
    background-image: url(../img/about_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 5% 10%;
}

.about_title {
    color: #FF9700;
    font-size: 20px;
    font-weight: 600;
}

.title_big {
    font-size: 40px;
    text-transform: uppercase;
    color: #FF9700;
}

.about_title::after {
    content: '';
    width: 200px;
    margin-left: 50px;
    height: 2px;
    display: inline-block;
    background-color: #FF9700;
    vertical-align: middle;
    margin-bottom: 10px;
}

.about_text {
    color: white;
    width: 40%;
    font-size: 20px;
    margin-top: 15px;
}

.advantages_title {
    color: white;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700;
}

.advantages {
    width: 80%;
    background-color: #FF9700;
    margin-left: -15%;
    margin-top: 20px;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}

.advantages_list {
    margin-left: 10%;
}

.advantages_item {
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.advantages_icon {
    width: 35px;
    height: 35px;
    background-color: white;
    display: inline-block;
    margin-right: 30px;
}

.ok::before {
    content: url(../img/icon_ok.svg);
    margin-left: 20%;
}

.box::before {
    content: url(../img/icon_box.svg);
    margin-left: 20%;
}

.marker::before {
    content: url(../img/icon_marker.svg);
    margin-left: 20%;
}

.watch::before {
    content: url(../img/icon_watch.svg);
    margin-left: 20%;
}

.more_btn {
    align-self: flex-end;
    color: black;
    font-size: 20px;
    margin-top: -20px;
    font-weight: 700;
    border: 2px solid white;
    padding: 20px;
    border-radius: 8px;
}

@keyframes bounce {
    from {
        left: 0;
    }
    to {
        left: 20px;
    }
}

.more_btn::after {
    content: url(../img/icon_arrow.svg);
    margin-left: 15px;
    position: relative;
    animation-name: bounce;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.more_btn:hover::after {
    animation-play-state: paused;
}

.services {
    background: url(../img/uslugi_back.png) no-repeat center center;
    background-size: cover;
    padding: 5% 10%;
}

.services_title {
    color: white;
}

.services_title:before {
    content: '';
    height: 100px;
    width: 2px;
    background-color: #FF9700;
    display: inline-block;
    margin-right: 20px;
}

.services_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
}

.services_item {
    background-color: white;
    width: 30%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px;
    transition: .5s;
}

.services_item:hover {
    transform: scale(1.05);
    border: 5px solid #FF9700;
    transition: .5s;
}

.services_icon {
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, rgba(255, 151, 0, 0) 50%, rgba(255, 151, 0, 0.5) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.car::before {
    content: url(../img/delivery-truck.svg);
}

.ref::before {
    content: url(../img/ref_big.svg);
}

.cont::before {
    content: url(../img/container.svg);
}

.instr::before {
    content: url(../img/hammer.svg);
}

.stock::before {
    content: url(../img/warehouse.svg);
}

.services_subtitle {
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    width: 75%;
}

.services_text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    width: 100%;
}

.services_more {
    text-transform: uppercase;
    border-bottom: 2px solid #0E53A7;
    color: black;
    margin-top: 30px;
}

.digits {
    background-color: #FF9700;
    padding: 5% 10%;
    position: relative;
}

.digits::before {
    content: url(../img/decor.svg);
    position: absolute;
    right: 0;
}

.digits:after {
    content: url(../img/decor.svg);
    position: absolute;
    left: 0;
    transform: rotate(180deg);
}

.digits_title {
    color: white;
}

.digits_title>.title_big {
    color: white;
}

.digits_title:before {
    content: '';
    display: inline-block;
    width: 150px;
    height: 2px;
    background-color: #0E53A7;
    vertical-align: middle;
    margin-right: 25px;
}

.digits_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
}

.digits_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 25%;
}

.digit {
    font-size: 70px;
    font-weight: 800;
}

.digit_text {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
}

.partners {
    margin: 100px 0;
    padding: 5% 10%;
    padding-top: 0;
    background: linear-gradient(to left, rgba(255, 151, 0, 0) 50%, rgba(14, 83, 167, 0.5) 50%);
}

.partners_title {
    color: #0E53A7;
    text-align: right;
    margin-bottom: 50px;
}

.partners_title>.title_big {
    color: #0E53A7;
}

.partners_title .title_big:after {
    content: '';
    width: 150px;
    height: 2px;
    display: inline-block;
    background-color: #FF9700;
    vertical-align: middle;
    margin-left: 40px;
}

.partners_wrapper {
    background-color: white;
    border: 2px solid rgba(14, 83, 167, 0.5);
    padding: 3%;
}

.partners_line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.partners_line:nth-child(n+2) {
    margin-top: 30px;
}

.partner {
    height: 70px;
}

.footer {
    background-color: rgba(14, 83, 167, 0.5);
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.logo_footer {
    width: 45%;
}

.footer_info {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_nav {
    width: 25%;
}

.footer_menu_item a {
    color: black;
    transition: .5s;
}

.footer_menu_item a:hover {
    color: white;
    transition: .5s;
}

.footer_menu_item {
    margin-bottom: 15px;
}

.footer_social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address_title:nth-child(n+2) {
    margin-top: 30px;
}

.address_text {
    margin-top: 10px;
    line-height: 25px;
}

.address_text a {
    color: black;
    transition: .5s;
}

.address_text a:hover {
    color: white;
    transition: .5s;
}

.copyright {
    background-color: rgba(14, 83, 167, 0.5);
    padding-bottom: 2%;
}

.copyright_text {
    color: gray;
    text-align: center;
    line-height: 25px;
}

.callback {
    background-color: #0E53A7;
    padding: 5% 10%;
    position: relative;
    margin: 70px 0;
}

.callback_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.callback_img {
    position: absolute;
    right: 5%;
    overflow: visible;
    bottom: 0;
    min-width: 450px;
}

.call_title {
    color: white;
    border-left: 3px solid white;
    padding-left: 15px;
}

.call_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.call_text,
.call_text a {
    font-size: 20px;
    color: white;
    transition: .5s;
}

.call_text a:hover {
    color: #FF9700;
    transition: .5s;
}